.bgForm{
    background: #63ceaf;
}
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../public/images/animales.jpg'); 
  }
  
  .mainPage{
    flex-grow: 1;
  }
